
:root,
:root[data-theme = "light"] {
    --bg-color: hsl(236, 33%, 92%);
    --bg-color-list: hsl(0, 0%, 98%);
    --bg-color-input: hsl(0, 0%, 98%);
    --bg-color-resume: hsl(0, 0%, 98%);
    --border-color: hsl(233, 11%, 84%);
    --text-color: hsl(235, 19%, 35%);
    --text-color1:hsl(236, 9%, 61%);
    --title-color:hsl(0, 0%, 98%);
    --bg-mobile-image: url("images/bg-mobile-light.jpg");
    --bg-desktop-image:url("images/bg-desktop-light.jpg");
    font-family: "Josefin Sans", sans-serif;
    --font-type: "Josefin Sans", sans-serif;
}


:root[data-theme = "dark"]{
    --bg-color: hsl(235, 21%, 11%);
    --bg-color-list: hsl(235, 24%, 19%);
    --bg-color-input: hsl(235, 24%, 19%);

    --bg-color-resume: hsl(235, 24%, 19%);

    --border-color: hsl(233, 11%, 84%);

    --text-color: hsl(233, 14%, 35%);

    --text-color1:hsl(236, 9%, 61%);

    --title-color: hsl(236, 33%, 92%);
    --bg-mobile-image: url("images/bg-mobile-dark.jpg");
    --bg-desktop-image:url("images/bg-desktop-dark.jpg");

color: hsl(235, 21%, 11%)
hsl(235, 24%, 19%)
hsl(234, 39%, 85%)
hsl(236, 33%, 92%)
hsl(234, 11%, 52%)
hsl(233, 14%, 35%)
hsl(237, 14%, 26%)
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}


.head {
    background-image: var(--bg-mobile-image);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head__item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .2rem;
    width: calc(100% - 40px);
}

.head__title {
    color: var(--title-color);
    letter-spacing: 10px;
}

.head__item2 {
    width: calc(100% - 30px);
    height: 40px;
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-input);
    border-radius: 4px;
}

.head__input--text {
    outline: none;
    width: 100%;
    padding: 0 .5rem;
    background-color: transparent;
    border: none;
    caret-color: blue;
    color: var(--title-color1);
}

.head__input,
.container__list-item #completed {
    width: 16px;
    height: 16px;
    appearance: none;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    
}

.container__list-item--finish {
    background: url('./images/icon-check.svg'), 
    linear-gradient( hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__list {
    position: relative;
    z-index: 2;
    top: -25px;
    width: calc(100% - 30px);
}

.container__list-item:first-child {
    border-radius: 5px 5px 0 0;
}

.container__list-item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-list);
    border-bottom: 1px solid var(--border-color);
    padding: 1.5rem .5rem;
    font-size: 16px;
}

.container__list-item.container--mobile,
.container__list-item.container--desktop {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    border-bottom: none;

}

.container__list-item label {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 6px;
}


.container--delete {
    width: 12px;
}


.container__footer {
    background-color: var(--bg-color-list);
    width: calc(100% - 30px);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:20px;
    border-radius: 4px;
}


.container__footer--select {
    color: blue;
}

.container__list-item.container--desktop {
    display: none;
}

.container__list-item.container--mobile,
.container__list-item.container--desktop,
.container__footer {
    font-size: 14px;
}

/*============================RESPONSIVIDADE===========================*/

/*Tablet*/
@media(min-width: 768px) { 
    .head__item1 {
        width: 360px;
    }
    
    .head__item2 {
        width: 360px;
        height: 40px;
    }

    .container__list {
        width: 360px;
    }

    .container__footer {
        width: 360px;
    }
    
}


/*Laptop*/
@media (min-width: 1024px) {

    .head {
        background-image: var(--bg-desktop-image);
        height: 220px;
    }
    .container__list {
        top: -30px;
    }

    .container__list-item.container--mobile,
    .container__footer,
    .container--delete {
        display: none;
    }

    .container__list-item {
        font-size: 18px;
    }
    .container__list-item.container--desktop {
        display: flex;
    }
}