
:root,
:root[data-theme = "light"] {
    --bg-color: hsl(236, 33%, 92%);
    --bg-color-list: hsl(0, 0%, 98%);
    --bg-color-input: hsl(0, 0%, 98%);
    --bg-color-resume: hsl(0, 0%, 98%);
    --border-color: hsl(233, 11%, 84%);
    --text-color: hsl(235, 19%, 35%);
    --text-color1:hsl(236, 9%, 61%);
    --title-color:hsl(0, 0%, 98%);
    --bg-mobile-image: url("images/bg-mobile-light.jpg");
    --bg-mobile-image:url("images/bg-desktop-light.jpg");
    font-family: "Josefin Sans", sans-serif;
}


:root[data-theme = "dark"]{
    --bg-color: hsl(235, 21%, 11%);
    --bg-color-list: hsl(235, 24%, 19%);
    --bg-color-input: hsl(235, 24%, 19%);

    --bg-color-resume: hsl(235, 24%, 19%);

    --border-color: hsl(233, 11%, 84%);

    --text-color: hsl(233, 14%, 35%);

    --text-color1:hsl(236, 9%, 61%);

    --title-color: hsl(236, 33%, 92%);
    --bg-mobile-image: url("images/bg-mobile-dark.jpg");
    --bg-mobile-image:url("images/bg-desktop-dark.jpg");


color: hsl(235, 21%, 11%)
hsl(235, 24%, 19%)
hsl(234, 39%, 85%)
hsl(236, 33%, 92%)
hsl(234, 11%, 52%)
hsl(233, 14%, 35%)
hsl(237, 14%, 26%)
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}

.head {
    background-image: var(--bg-mobile-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.head__title {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--title-color);
}


.head__item1 {
    padding: .5rem;
    width: 85%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.head__item2 {
    width: 85%;
    max-width: 500px;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    background-color: var(--bg-color-input);
    border-radius: 4px;
}

.head__circle, 
.main__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--border-color);
}


.main__circle--check {
    background-image: url("./images/icon-check.svg"),
    linear-gradient(
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
    );
    background-repeat: no-repeat;
    background-position: center;

}

.head__input {
    width: calc(100% - 25px);

}

.head__input input {
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
    border: 0;
    caret-color: blue;
    background-color: transparent;
    font-family: "Josefin Sans", sans-serif;
}


.head__input input::placeholder {
    color: var(--text-color);
}

.main {
    width: 100%;
}

.main__list {
    position: relative;
    z-index: 2;
    top: -26px;
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--bg-color-list);
    border-radius: 4px;
    box-shadow: 5px 4px transparent;
}

.main__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem .5rem;
}

.main__list-item.main__mobile {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 0;
    color: var(--text-color1);
    font-size: 12px;
}

.main__list-item.main__desktop {
    display: none;
}

.main__logo {
    position: fixed;
    left: calc(100% - 60px);
    line-height: 50px;
}

.main__logo img {
    width: 10px;
}

.main__item {
    text-align: center;
    padding: .7rem .5rem;
    width: 85%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--bg-color-resume);
    color: var(--text-color1);
}

.main__item span {
    margin-right: 15px;
}

.main__item span:last-child {
    margin-right: 0;
}

.main__item--active {
    color: blue;
}

.main__paragrafo {
    text-align: center;
    margin-top: 20px;
    color: var(--text-color);
}



/*RESPONSIVIDADE*/
@media(min-width: 995px) {

    .head__logo img {
        cursor: pointer;
    }

    .main__logo {
        display: none;
    }

    .main__desktop span,
    .main__desktop p {
        cursor: pointer;
    }

    .main__list-item {
        cursor: pointer;
    }

    .main__list-item:last-child {
        cursor:auto;
    }

    .main__list-item.main__mobile  {
        display: none;
    }

    .main__list-item.main__desktop {
        display: flex;
        justify-content: space-around;
        border-bottom: 0;
    }

    .main__item {
        display: none;
    }

    .main__paragrafo {
        cursor: pointer;
    }
}

